@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import "remixicon/fonts/remixicon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-4 py-2  rounded-full text-base text-white hover:scale-105   transition-transform duration-100 ease-in;
}

.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

.completed {
  text-decoration: line-through;
  color: rgb(150, 150, 150);
}
